<div class="mf-radio-button">

    <div *ngFor="let option of radioOptions; let i = index" 
        class="my-radio"
        >
        <input 
            type="radio" 
            [name]="name" 
            [id]="'radio'+i"
            [value]="option"
            [(ngModel)]="radioChecked"
            (change)="OnRadioChecked(option)">
        <label [for]="'radio'+i" [textContent]="option"></label>
    </div>

</div>

<!-- instead of ngModel can use /* [checked]="radioChecked==option" */ -->
