<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field>

<div class="flex-basics-page external-container">
    <div class="internal-item flex-1">Flex item 01</div>
    <div class="internal-item flex-2">Flex item 02</div>
    <div class="internal-item flex-3">Flex item 03</div>
    <div class="internal-item flex-4">Flex item 04</div>
    <div class="internal-item flex-5">Flex item 05</div>
    <div class="internal-item flex-6">Flex item 06</div>
</div>
