<div class="mf-person-card">
    <div class="mytable">
        <div class="left">
            <div class="table-info">Name</div>
            <div class="table-info">ID</div>
            <div class="table-info">address</div>
            <div class="table-info">email</div>
            <div class="table-info">Gender</div>
        </div>
    
        <div class="right">

            <div *ngIf="mode === ViewMode.ReadOnly" class="read-only-wrapper">
                <div class="table-info" [innerText]="personName"></div>
                <div class="table-info" [innerText]="personId"></div>
                <div class="table-info" [innerText]="personAddress"></div>
                <div class="table-info" [innerText]="personEmail"></div>
                <div class="table-info" [innerText]="personGender"></div>
            </div>

            <div *ngIf="mode === ViewMode.Edit" сlass="edit-wrapper">
                <div>
                    <input type="text" [(ngModel)]="personName" (keyup)="OnPersonNameChange()" />
                </div>
                <div>
                    <input type="text" [(ngModel)]="personId" (keyup)="OnPersonIdChange()"/>
                </div>
                <div>
                    <input type="text" [(ngModel)]="personAddress" (keyup)="OnPersonAddressChange()"/>
                </div>
                <div>
                    <input type="text" [(ngModel)]="personEmail" (keyup)="OnPersonEmailChange()"/>
                </div>
                <mf-radio-button 
                    [radioOptions]="listOfGenders"
                    [(radioChecked)]="personGender"
                    (radioCheckedChange)="OnPersonGenderChange()"
                    ></mf-radio-button>
            </div>
        </div>
    </div>

    <div class="clear-both"></div>

    <button 
        [innerText]="buttonTitle"
        (click)="onToggleModeClick()">
    </button>
    
</div>