<div class="mf-person-card">
    <div class="mytable">
        <div class="left">
            <div class="table-info">Name</div>
            <div class="table-info">ID</div>
            <div class="table-info">address</div>
            <div class="table-info">email</div>
            <div class="table-info">Gender</div>
            <div class="table-info">Birthday</div>
            <div class="table-info">Salary</div>

        </div>
    
        <div class="right">

            <div *ngIf="mode === ViewMode.ReadOnly" class="read-only-wrapper">
                <div class="table-info" [innerText]="personName"></div>
                <div class="table-info" [innerText]="personId"></div>
                <div class="table-info" [innerText]="personAddress"></div>
                <div class="table-info" [innerText]="personEmail"></div>
                <div class="table-info" [innerText]="personGender"></div>
                <div class="table-info" [innerText]="personBirthday | date : 'dd MMM yyyy'"></div>
                <div class="table-info" [innerText]="personSalary | doubleMe | currency : 'CAD'"></div>
            </div>

            <div *ngIf="mode === ViewMode.Edit" сlass="edit-wrapper">
                <div>
                    <input type="text" [(ngModel)]="personName" (keyup)="onPersonNameChange()" />
                </div>
                <div>
                    <input type="text" [(ngModel)]="personId" (keyup)="onPersonIdChange()"/>
                </div>
                <div>
                    <input type="text" [(ngModel)]="personAddress" (keyup)="onPersonAddressChange()"/>
                </div>
                <div>
                    <input type="text" [(ngModel)]="personEmail" (keyup)="onPersonEmailChange()"/>
                </div>
                <!-- <mf-radio-button 
                    [name]="radioButtonName" // maybe in this case better to use uniq id
                    [radioOptions]="genderOptions"
                    [(radioChecked)]="personGender"
                    (radioCheckedChange)="onPersonGenderChange()"
                    ></mf-radio-button> -->

                <mf-radio-button-ilya
                    [options]="genderOptions"
                    [(value)]="personGender"
                    (valueChange)="onPersonGenderChange()"> 
                </mf-radio-button-ilya>
            </div>
        </div>
    </div>

    <div class="clear-both"></div>

    <button 
        [innerText]="buttonTitle"
        (click)="onToggleModeClick()">
    </button>
    
</div>